<!DOCTYPE html>
<html>
  <head>
    <title>CREATE AN ACCOUNT PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create an Account</h1>
    <form action="/users/createAccontNewUser" method="POST">
    User name: <input type="text" name="username"><br/>
    Password: <input type="text" name="pwd"><br/>
    <input type="submit" value="Create"> <br/>
    </form>

  </body>
</html>
