<!DOCTYPE html>
<html>
  <head>
    <title>Manage Users Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Manage Users Page</h1>
    <form action="/manageusers/geAllusers">    
    <button type="text">All Users</button>
    </form>
    <form action="/manageusers/addUser">
    <button type="text">Add User</button>
    </form>
  
  </body>
</html>
