<!DOCTYPE html>
<html>
  <head>
    <title>Manage Users Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Manage Users Page</h1>
    <form action="/movies/geAllMovies">    
    <button type="text">All Movies</button>
    </form>
    <form action="/movies/addMovie">
    <button type="text">Add Movie</button>
    </form>
  
  </body>
</html>
